*{
    font-family: 'Roboto Serif', serif;
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

/*te desliza a la pequeña parte de la pagina en la barra superior*/
html{ 
    scroll-behavior: smooth;
    display: flex;
}

section{
    padding: 2.5em 3em;
}
.conoceme h2,.habilidades h2,.herramientas h2,.aplicaciones h2,.contacto h2{
    font-family: Georgia,"Times New Roman",serif;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    padding: 0.5em ;
}
.contenedor-contacto, .contenedor-habilidades{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: stretch;
}
.contacto .fila,.contenedor-habilidades .fila{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 80%;
}
.contacto .col,.contenedor-habilidades .col{
    width: 120%;
    height: 340px;
    padding: 0.5em;
}

/*Menu*/
header{
    background: #1e2326;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.nav-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem;
}
.nav-header .logo a img{
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    display: flex;
    align-self: center;
}
.nav-header .logo a{
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 0 15px;
    padding: 3px;
    transition: .2s;
    text-decoration: none;
}

.nav-header .menu-nav .list-nav{
    list-style: none;
    display: flex;
    gap: 25px;
}
.nav-header .menu-nav .list-nav li a{
    /* text-align: none; */
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.nav-header .menu-nav .list-nav li a:hover{
    color: #148D8D;
}

.ico-menu{ 
    background-color: #1a4a5a;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    overflow: hidden;
}

#toggler, .nav-header label{
    display: none;
}

/* Contenedor del Perfil */
.inicio{
    background: linear-gradient(to top,#148D8D, #1a4a5a), url(Imag/mt.jpg);
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
}

.inicio .contenedor-banner{
    padding: 2.5em 1em 1em 1em;
    background-color: #1e2326;
    max-width: 25em;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
.inicio .contenedor-banner img{
    margin-top: 40em;
    border: 0.4em solid #fff;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
.inicio .contenedor-banner h1{
    font-family: 'Fredericka the Great', cursive;
    font-weight: lighter;
    font-size: 2rem;
    margin-top: 1em;
}
.inicio .contenedor-banner h2{
    font-family: 'Roboto Serif', serif;
    font-size: 1rem;
    font-weight: normal;
}

.link{
    padding: 1em;
}

.inicio .contenedor-banner .link a img{
    margin-top: 5rem;
    color:#fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 7px 5px;
    font-size: 20px;
    transition: .3s;
}

.conoceme{
    background-color:#1e2326;
    color: #fff;
}

.conoceme .contenedor-sobremi p{
    font-size: 1rem;
    margin-bottom: 2rem;
}
.conoceme .contenedor-sobremi p span{
    color: #148D8D;
    font-weight: bold;
}
.conoceme .fila{
    display: flex;
}
.conoceme .fila .col{
    width: 100%;
}
.conoceme .fila .col h3{
    font-size: 1rem;
    margin-bottom: 25px;
}
.conoceme .fila .col ul{
    list-style: none;
}
.conoceme .fila .col ul li{
    margin: 12px 0;
}

.conoceme .fila .col ul li strong{
    display: inline-block;
    color: #148D8D;
    width: 130px;
}
.conoceme .fila .col ul li span{
    background-color: #148D8D;
    padding: 3px;
    font-weight: bold;
    border-radius:5px;
}
.conoceme .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.conoceme .fila .col .contenedor-intereses .intereses{
    width: 100px;
    height: 100px;
    background-color: #148D8D;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.conoceme .fila .col .contenedor-intereses .intereses:hover{
    color: #1a4a5a;
}
.conoceme .fila .col .contenedor-intereses .intereses i{
    font-size: 2rem;
    margin-bottom: 10px;
}
.conoceme button{
    cursor: pointer;
    background-color: transparent;
    border: 4px solid #fff;
    width: fit-content;
    display: block;
    margin: auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
    border-radius: 20px;
}
.conoceme button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: 1s;
    border-radius: 15px;
}
.conoceme button:hover .overlay{
    background-color: #1cb698;
    width: 100%;
}

/*Contenedor de habilidades*/

.habilidades{
    background-color: #1a4a5a;
    color: #fff;
}
.habilidades .contenedor-habilidades .fila .col h3{
    font-size: 28px;
    margin-bottom: 10%;
}
.habilidades .contenedor-habilidades .fila .col .habilidad > span{
    font-weight: bold;
    display: block;
    margin-bottom: 15px;
}
.habilidades .contenedor-habilidades .fila .col .habilidad .barra-habilidades{
    height: 8px;
    width: 100%;
    background-color: #131517;
    position: relative;
    margin-bottom: 35px;
}
.habilidades .contenedor-habilidades .fila .col .habilidad .barra-habilidades .progreso{
    background-color: #1cb698;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.habilidades .barra-habilidades span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #1cb698;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}


.cshart{
    width: 0%;
    animation: 2s c forwards;
}
@keyframes c{
    0%{width: 0%;}
    100%{width: 40%;} 
}
.htmlcss{
    width: 0%;
    animation: 0.2s htmlcss forwards;
}
@keyframes htmlcss{
    0%{width: 0%;}
    100%{width: 70%;} 
}
.git{
    width: 0%;
    animation: 2s git forwards;
}
@keyframes git{
    0%{width: 0%;}
    100%{width: 80%;} 
}
.tbe{
    width: 0%;
    animation: 2s tbe forwards;
}
@keyframes tbe{
    0%{width: 0%;}
    100%{width: 97%;} 
}
.ent{
    width: 0%;
    animation: 2s ent forwards;
}
@keyframes ent{
    0%{width: 0%;}
    100%{width: 90%;} 
}
.cre{
    width: 0%;
    animation: 2s cre forwards;
}
@keyframes cre{
    0%{width: 0%;}
    100%{width: 95%;} 
}

/*Contenedor de herramientas*/

.herramientas{
    background-color: #1e2326;
}

.container-tools{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2em 1.5em;
    padding: 40px;
    scroll-behavior: smooth;
}
.contenido{
    
    border-radius: 28px;
    background: linear-gradient(225deg, #202529, #1b2022);
    box-shadow:  -26px 26px 52px #0e1012, 26px -26px 52px #2e363a;
}
.contenido .img-cont{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.contenido .img-cont img{
    margin: 1px;
    padding: 5px;
    width: 8em;
    height: 7em;
    align-self: center;
}
.contenido .name{
    /* background-color: #046868; */
    text-align: center;
    height: 2em;
    color: #fff;
}

/*Contenedor de desarrollos*/
.aplicaciones{
    background-color: #1a4a5a;
}
.aplicaciones .contenido-app{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.aplicaciones .contenido-app .ico-load i{
    margin-top: 100px;
    font-size: 90px;
    margin-bottom: 10px;
    align-items: center;
}
.container-app .contenido-app span{
    text-justify:auto;
    align-items: center;
    margin-top: 50px;
    font-size: 50px;
}

/*Contenedor de contacto*/

.contacto{
    background-color: #1e2326;
}
.contacto .col input, .contacto .col textarea{
    display: flex;
    width: 95%;
    padding: 0.5rem;
    border: none;
    margin-bottom: 10px;
    background-color: #148d8d7e;
    color: #fff;
    font-size: 15px;
}
.contenedor-contacto .col .botones button{
    cursor: pointer;
    background-color: transparent;
    border: 4px solid #fff;
    width: fit-content;
    display: inline-block;
    margin: 1%;
    padding: 5px 10px;
    font-size: 15px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.contenedor-contacto .col .botones{
    text-align: right;
    margin-right: 25px;
}
.contenedor-contacto .col iframe{
    display: flex;
    width: 100%;
    height: 100%;
}

.button_star{
    background-color: #1cb698;
    width: 30px;
    height: 30px;
    border-radius: 150px;
}

.contenedor-top{
    display: flex;
    position: static;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: nowrap;
}
footer{
    background-color: #1b2022;
}


/* Reparar el ajuste automatico que se realiza, a partir de 999px, no me permite configurar a para telefono */
@media screen and (max-width: 999px) {
    .menu-nav{
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .list-nav{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .nav-header label{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #toggler:checked ~ .menu-nav{
        max-height: 100%;
    }
    .ico{
        overflow: visible;
    }
    .nav-header{
        flex-wrap: wrap;
    }
    .contenedor-contacto .fila,.contenedor-habilidades .fila, .fila{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}