.contenedor{
    display: flex;
    justify-content: space-around;
}
.menu-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    width: 20%;
}
.info-warehouses{
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    border: solid 1px #000000;
}
.button-warehouses{
    display: flex;
    border: solid 1px #000000;
    flex-direction: column;
    gap: 0.2em;
    width: auto;
}
.warehouses{
    display: grid;
    justify-content: space-around;
    gap: 0.9rem;
    grid-template-columns: repeat(3,160px);
    width: 80%;
}
.item{
    background-color: #009688;
    color: #ffffff;
    padding: 0.25rem;
    font-size: 2rem;
    border: solid 2px #1fddcb;
}

.imag{
    height: 180px;
}
.text-info{
    height: 50px;
}
